# Thư mục node_modules
node_modules/

# Các file build hay cache của Next.js
.next/
dist/
build/

# Các file môi trường
config.env
*.env

# File log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File hệ điều hành
.DS_Store
Thumbs.db
